@import '../../../assets/css/variables.scss';

.sort-item-wrapper {
  display: inline-block;
  height: 46px;
  padding: 4px;
  position: relative;
  border: solid 1px $greyLevel2;
  border-radius: 2px;
  margin-left: 14px;

  i {
    display: inline-block;
    margin: 0 0 0 10px;
    background-color: $greyLevel0;
    border-radius: 2px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;

    &:hover {
      background-color: $greyLevel1;
    }
  }

  span {
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
  }
}
