<div class="container">
  <div class="header">
    <div class="filter-wrapper" *ngIf="!isLoading">
      <strong>{{"FILTER_OPTIONS" | dictionary}}</strong>
      <ng-container *ngFor="let one of filterItems; let i = index">
        <app-filter-item [data]="one" [id]="i" [isLoading]="isLoading" (filterChangedEvent)="filterChangedEvent($event)"></app-filter-item>
      </ng-container>
    </div>

    <div class="filter-wrapper" *ngIf="!isLoading">
      <strong>{{"SORT_OPTIONS" | dictionary}}</strong>
      <ng-container *ngFor="let one of sortItems; let i = index">
        <app-sort-item [data]="one" (sortChangedEvent)="onSortChanged($event)"></app-sort-item>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let section of listItems; let i = index">
      <app-list-item [data]="section"></app-list-item>
    </ng-container>
  </div>
</div>
<app-spinner *ngIf="isLoading" [isFullScreen]="true"></app-spinner>
<app-error *ngIf="isError"></app-error>
